xml/holiday.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT HOLIDAYLIST (STATE+)>
<!ELEMENT STATE (HOLIDAY+)>
<!ELEMENT HOLIDAY (TITLE,MONTH,DAY,WEEKDAY,YEAR)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT MONTH (#PCDATA)>
<!ELEMENT DAY (#PCDATA)>
<!ELEMENT WEEKDAY (#PCDATA)>
<!ELEMENT YEAR (#PCDATA)>


<!ATTLIST STATE NAME CDATA #REQUIRED>

