xml/holiday.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT HOLIDAYLIST (STATE+)>
<!ELEMENT STATE (HOLIDAY+)>
<!ELEMENT HOLIDAY (TITLE,YEAR+)>
<!ELEMENT YEAR (MONTH,DAY,WEEKDAY)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT MONTH (#PCDATA)>
<!ELEMENT DAY (#PCDATA)>
<!ELEMENT WEEKDAY (#PCDATA)>



<!ATTLIST STATE value CDATA #REQUIRED>
<!ATTLIST YEAR value CDATA #REQUIRED>
